<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "M2Leadflow" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="application-name" content="M2Leadflow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-50 min-h-screen flex antialiased" data-controller="keyboard">
    <%= render 'shared/sidebar' %>
    <div class="pl-60 flex-1 min-h-screen flex flex-col">
      <%# Toast container %>
      <div class="fixed top-4 right-4 z-50 flex flex-col gap-2">
        <%= render 'shared/flash' %>
      </div>
      <main class="flex-1 page-container">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
